<app-navbar [titleNav]="titleNav"></app-navbar>

<div class="container q-container">
  <!--Dodawanie cytatu-->
  <app-button
    customClasses="btn-floating teal add-button"
    (clickButton)="form.onSwitchForm()"
  >
    <i class="material-icons">add</i>
  </app-button>
  <app-form #form (newQuatation)="onNewQuotation($event)"></app-form>
  <!-- Koniec dodawanie cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <app-list
        [quotes]="quotes"
        (vote)="addVote($event.quatation, $event.value)"
      ></app-list>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking
        [quotes]="bestQuotes()"
        [titleRanking]="titleRanking"
      ></app-ranking>
      <app-ranking
        [quotes]="worstQuotes()"
        [titleRanking]="titleRanking"
      ></app-ranking>
    </div>
    <!-- Sekcja rankigów -->
  </div>
</div>
