<div class="col s12">
  <h5>{{ titleRanking }}</h5>
  <div class="collection">
    <p class="collection-item" *ngFor="let quotation of quotes">
      <span class="blue lighten-4 badge">{{ quotation.votes }}</span>
      {{ quotation.sentence }}<<br />
      <span class="blue-text">{{ quotation.author }}<</span>
    </p>
  </div>
</div>
